<body>
    <header>
        <h1><%= pageTitle %></h1>
        <nav>
            <ul>
                <li><a href="/">Create User</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
    </header>