<%- include('./includes/head.ejs') %>
</head>
<%- include('./includes/nav.ejs') %>

    <main>
        <form action="/" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Create User</button>
        </form>
    </main>


<%- include('./includes/end.ejs') %>